h2 {
  background-color: teal;
  padding: 10px;
  margin: 50px auto;
  text-align: center;
  width: 80%;
}
h3{
    padding: 10px 22px;
    background: transparent;
    color: #00adb5;
    font-size: 14px;
}
